body{
    margin: 0;
    padding: 0;
    background-color: gray;
}

.list-label{
    display:flex;
    justify-content: center;
}

.condo-list{
    display: flex;
    justify-content: center;
}

.condo-list > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px;
    width: 300px;
    border-radius: 25px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.condo-description-container, .condo-name-container{
    display: flex;
    justify-content: center;
    padding: 0 10px;
}

.condo-image-container{
    width: 100%;
}

.condo-list-img{
    border-radius: 25px 25px 0 0;
    max-height: 150px;
    min-height: 150px;
    width: 100%;
}

.nav-logged-in > img{
    width: 50px;
    height: 50px;
}

.nav-logged-in > button{
    margin: 20px;
    height: 20px;
    background-color: #2B2B2B;
    color: white;
}


.nav-button{
    background-color: #2B2B2B;
    height: 60px;
    border: none;
    background: none;
    outline: none;
    box-shadow: none;
}

.nav-bar{
    height: 87px;
    width: 100%;
    background-color: #2B2B2B;
    display: flex;
    justify-content: space-between;
    align-items: center;  
   position:fixed;
    
}

.white-bar{
    color: white;
    font-size: 21pt;
    
}

.right-nav{
    display: flex;
    justify-content: right;
    align-items: center;    
}

.right-nav > div{
    display:flex;
    align-items: center;
    color: white;
}

.right-nav > div > img{
    padding-right: 10px;
}

.nav-logged-out {
    gap: 15px;
}

#close-create{
    width: 20px;
    height: 20px;
}



.login-submit{
    display:flex;
    padding-top: 10px;
}

.login-submit > button{
    margin: 0px 10px;
}

.login-details{
    padding:5px;
    display: flex;
}

.login-details > div{
    padding: 0 10px;
    width: 20%;
}

.login-font{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 12pt;
    color: white;
}

.right-nav > div{
    padding: 20px;
}

.padding-5{
    padding: 20px;
}

.main-image{
    background-image: url('images/home-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 704px;
    
    display: flex;
    flex-direction:column;
}

.title{
    display: flex;
    height: 70%;
    justify-content: center;
    color: white;
}
.height{
    height:1000px;
}
.search-bar{
    display: flex;
    justify-content: center;
}
.search-bar > form > input{
    width: 600px;
    height: 70px;
    border-radius: 20px 0 0 20px;
    padding: 20px;
}
.search-bar > form > button{
    height: 70px;
    padding: 25px;
    width: 100px;
    margin-left: -6px;
    border-radius: 0 20px 20px 0;
    
}
.title-bold{
    font-style: italic;
    font-size: 90px;
    padding-top: 250px;
    font-family: 'Inter', sans-serif;
}
.login-popup{
    width:350px;
    height:150px;
    background-color: black;
    color: white;
    align-content: center;
    top: 87px;
    right: 175px;
    position: fixed;
}

.create-account{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 55%;
    bottom: 0;
    right: 50%;
    left: 50%;
    height: 550px;
    transform: translate(-50%, -50%);
    width: 40%;
    background-color: #2D2D2D;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
}

.create-account > div{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.select-avatar{
    padding:0 5px;
    justify-content: center;
}

.select-avatar > div{
    display:flex;
    justify-content: center;
}

.create-account > div > div{
    display:flex;
    flex-direction: column;
}

.create-account > div > div > div{
    display: flex;
    justify-content: center;
}

.avatar{
    width: 40px;
    height: 40px;
}

.create-account > form > div{
    padding: 10px;
    display: flex;
    justify-content: center;
}


.create-account > form > div > input{
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    width: 300px;
    display: flex;

}

#close-create{
    position: absolute;
    top: 10px;
    right: 20px;
    box-shadow: none;

}

#exit-signup{
    display:flex;
    justify-content: flex-end;
    width: 100%;
    position: absolute;
    top: 0;
}

#exit-signup > button{
    background-color: #2B2B2B;
    color: white;
}

.create-account > form > div > textarea{
    width: 300px;

}

.create-account > form > div > .submit{
    display: flex;
    width: 300px;
    align-items: center;
    border-radius: 5px;
    height: 30px;
    padding: 10px;
    background-color: #0094FF;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.x-container{
    display: flex;
    justify-content: right;
}

.x-container > div{
    background-color:#D9D9D9;
    color: black;
    padding: 5px;
    width: 10px;
    height: 10px;
    display: flex;
    align-items: center;
}