<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title>{{title}}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/257dad1955.js" crossorigin="anonymous"></script>
        <script src="navbar.js"></script>
        <script src="condo.js"></script>

        <link rel="stylesheet" href="condo.css">
        <link rel="stylesheet" href="general.css">

        <!-- Inter font extrabold-->
        <!-- Libre Franklin extrabold-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Libre+Franklin:wght@800&display=swap" rel="stylesheet">
    </head>
    <body>
        {{> navbar}}
        {{{body}}}
    </body>
</html>