<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title>{{title}}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://kit.fontawesome.com/257dad1955.js" crossorigin="anonymous"></script>
        <script src="navbar.js"></script>

        {{#if (title === "Edit Profile")}}
            <link rel="stylesheet" href="editprofile.css">
        {{else}}
            <link rel="stylesheet" href="profile.css">
        {{/if}}
        <link rel="stylesheet" href="general.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!-- Inter font extrabold-->
        <!-- Libre Franklin extrabold-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Libre+Franklin:wght@800&display=swap" rel="stylesheet">
    </head>
    <body>
        {{> navbar}}
        {{{body}}}
        {{> footer}}
    </body>
</html>